*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

li{
    list-style: none;
}


.container{
    max-width: 1240px;
    margin: auto;
    padding-inline: 20px;

}

html {
    font-size: calc(0.3vw + 0.7em);
    font-family: monospace;
    line-height: 1.5rem;
  }
  

body{
    --mono-main: #b3adcc;
    --mono-back: #1e1b2c;
}

.main__content{
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    nav{
        ul{
            display: flex;
            li{
                padding-right: 20px;
            }
        }
    }
    .main__content-second-part{
        display: flex;
        li{
            padding-right: 20px;
        }
    }
}


.first__section{
    padding-block: 100px;
    .first__section-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .first__section-content-box{
            max-width: 400px;
            h1{
                padding-bottom: 30px;
            }
            p{
                padding-block: 30px;
            }
        }
        .first__section-content-img-box{
            padding-top: 50px;
            .cube {
                --size: 200px;
                transform-style: preserve-3d;
                
                transform: rotateX(.5turn);
                display: inline-block;
                width: var(--size);
                height: var(--size);
                animation: 20s rotate linear infinite;
              }
              
              @keyframes rotate{
                from{
                  transform: rotateZ(-1turn) rotateX(-1turn) rotateY(-1turn);
                }
              }
              
              .cube > div {
                --tz: calc(var(--size) / 2);
                --rx: 0deg;
                --ry: 0deg;
                --color: transparent;
                
                background: var(--color);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                
                border: 5px solid #b3adcc;
                transform: translateZ(var(--tz)) rotateX(var(--rx)) rotateY(var(--ry));
                backface-visibility: none;
                opacity: 1;
                  
              }
              .cube > div:nth-child(1) {
                transform: translate3d(0px, 0px, 0px) rotateX(0deg);
              }
              .cube > div:nth-child(2) {
                   transform: translate3d(0px, -100px, 100px) rotateX(90deg);
              }
              .cube > div:nth-child(3) {
                --tz: var(--size);
              }
              .cube > div:nth-child(4) {
                transform: translate3d(0px, 100px, 100px) rotateX(90deg);
              }
              .cube > div:nth-child(5) {
                transform: translate3d(100px, 0px, 100px) rotateY(90deg);
              }
              
              .cube > div:nth-child(6) {
                transform: translate3d(-100px, 0px, 100px) rotateY(90deg);
              }
              
              
        }
    }
}


.second__section{
  padding-bottom: 100px;
  h2{
    text-align: center;
    .second__section-content-box{
      .second__section-content-inner{
        display: flex;
        flex-wrap: wrap;
        .brands__item a {
          padding: 1rem;
        }
        
        .brands__item img {
          width: 130px;
          object-fit: contain;
          aspect-ratio: 2/1;
        }
      }
    }
  }
}

.test__sect{
  padding-bottom: 100px;
  .container{
    h2{
      padding-bottom: 20px;
    }
    .content-section{
      .test{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .brands__item a {
          background-color: #b3adcc;

            .brands__item img {
            width: 130px;
            object-fit: contain;
            aspect-ratio: 2/1;
          }
        }
      }
    }
  }
}


.theerd__section{
  padding-bottom: 100px;
  .container{
    h2{
      padding-bottom: 20px;
    }
    p{
      padding-bottom: 20px;
    }
    .theerd__section-content{
      ul{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          a{
            background-color: #b3adcc;
            padding: 8px;
            border-radius: 10px 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}