*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}

li{
    list-style: none;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


$index: calc(1vw + 1vh);


.container{
    max-width: 1240px;
    margin: auto;
    padding-inline: 20px;

}
.first__section-content-img-box{
  padding-top: 50px;
  .cube {
    width: 200px;
    height: 200px;
    border: 1px solid #b3adcc;
    }
   
}

html {
    font-size: calc(0.3vw + 0.7em);
    font-family: monospace;
    line-height: 1.5rem;
  }
  

body{
    --mono-main: #b3adcc;
    --mono-back: #1e1b2c;
    overflow-x: hidden;
}

.stop-scroll{
  overflow: hidden;
}

.main__content{
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    .nav--visible{
      @include max-screen (1024px){
			transform: none;	
			}
    }
    nav{
      @include max-screen (1024px){
			position: fixed;
      right: 0;
      top: 0;
      z-index: 10;
      overflow-y: auto;
      background: linear-gradienthsla(0deg, 0%, 100%, 0.1) ;
      backdrop-filter: blur(5px);
      width: 100%;
      // max-width: 300px;
      height: 100vh;

      transform: translateX(100%);
      transition: transform 0.6s ease-in-out;
			}
        ul{
            display: flex;
            @include max-screen (1024px){
              padding: calc($index * 3) calc($index * 7.5);
              flex-direction: column;
              align-items: flex-start;
            }
            li{
                padding-right: 20px;
                @include max-screen (1024px){
                  margin-bottom: 50px;
                  width: 100%;
                  border-bottom: 1px solid #b3adcc;
                }
            }
        }
    }
    .main__content-second-part{
        display: flex;
        @include max-screen (1024px){
				display: none;
        }
        li{
            padding-right: 20px;
        }
    }
    .burger--active .burger__line{
      opacity: 0;
    }
    .burger--active{
      &::before{
        bottom: auto;
        top: 5%;
        transform: rotate(45deg);
      }
      &::after{
        bottom: auto;
        top: 5%;
        transform: rotate(-45deg);
      }
    }

    .burger{
      position: relative;
      width: 30px;
      height: 20px;
      border: 0;
      cursor: pointer;
      background-color: transparent;
      display: none;
      &::after,
      &::before{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #b3adcc;
        transition: transform 0.3s ease-in-out;
      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
      .burger__line{
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background-color:#b3adcc;
        transform: translateY(-50%);
        transition: opacity 0.3s ease-in-out;
      }
      @include max-screen (1024px){
				display: block;
        position: relative;
        z-index: 12;
			}
    }
}


.first__section{
    padding-block: 100px;
    .first__section-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .first__section-content-box{
            max-width: 400px;
            h1{
                padding-bottom: 30px;
            }
            p{
                padding-block: 30px;
            }
        }
        .first__section-content-img-box{
            padding-top: 50px;
            .cube {
              width: 200px;
              height: 200px;
              border: 1px solid #b3adcc;
              }
             
        }
    }
}


.second__section{
  padding-bottom: 100px;
  h2{
    text-align: center;
    .second__section-content-box{
      .second__section-content-inner{
        display: flex;
        flex-wrap: wrap;
        .brands__item a {
          padding: 1rem;
        }
        
        .brands__item img {
          width: 130px;
          object-fit: contain;
          aspect-ratio: 2/1;
        }
      }
    }
  }
}

.test__sect{
  padding-bottom: 100px;
  .container{
    h2{
      padding-bottom: 20px;
    }
    .content-section{
      .test{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .brands__item a {
          margin-bottom: 20px;
          background-color: #b3adcc;

            .brands__item img {
            width: 130px;
            object-fit: contain;
            aspect-ratio: 2/1;
          }
        }
      }
    }
  }
}


.theerd__section{
  padding-bottom: 100px;
  .container{
    h2{
      padding-bottom: 20px;
    }
    p{
      padding-bottom: 20px;
    }
    .theerd__section-content{
      ul{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          display: flex;
          flex-direction: column;
          align-items: center;
          a{
            background-color: #b3adcc;
            padding: 8px;
            border-radius: 10px 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}


.fours__section{
  padding-bottom: 100px;
  .fours__section-main-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 50px;
    .fours__section-main-box-text{
      margin-top: 20px;
      max-width: 500px;
      h2{
        padding-bottom: 20px;
      }
      p{
        padding-bottom: 30px;
      }
    }
  }
}