* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li {
  list-style: none;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding-inline: 20px;
}

.first__section-content-img-box {
  padding-top: 50px;
}
.first__section-content-img-box .cube {
  width: 200px;
  height: 200px;
  border: 1px solid #b3adcc;
}

html {
  font-size: calc(0.3vw + 0.7em);
  font-family: monospace;
  line-height: 1.5rem;
}

body {
  --mono-main: #b3adcc;
  --mono-back: #1e1b2c;
  overflow-x: hidden;
}

.stop-scroll {
  overflow: hidden;
}

.main__content {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .main__content .nav--visible {
    transform: none;
  }
}
@media screen and (max-width: 1024px) {
  .main__content nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    background: linear-gradienthsla(0deg, 0%, 100%, 0.1);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
  }
}
.main__content nav ul {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .main__content nav ul {
    padding: calc((1vw + 1vh) * 3) calc((1vw + 1vh) * 7.5);
    flex-direction: column;
    align-items: flex-start;
  }
}
.main__content nav ul li {
  padding-right: 20px;
}
@media screen and (max-width: 1024px) {
  .main__content nav ul li {
    margin-bottom: 50px;
    width: 100%;
    border-bottom: 1px solid #b3adcc;
  }
}
.main__content .main__content-second-part {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .main__content .main__content-second-part {
    display: none;
  }
}
.main__content .main__content-second-part li {
  padding-right: 20px;
}
.main__content .burger--active .burger__line {
  opacity: 0;
}
.main__content .burger--active::before {
  bottom: auto;
  top: 5%;
  transform: rotate(45deg);
}
.main__content .burger--active::after {
  bottom: auto;
  top: 5%;
  transform: rotate(-45deg);
}
.main__content .burger {
  position: relative;
  width: 30px;
  height: 20px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  display: none;
}
.main__content .burger::after, .main__content .burger::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #b3adcc;
  transition: transform 0.3s ease-in-out;
}
.main__content .burger::before {
  top: 0;
}
.main__content .burger::after {
  bottom: 0;
}
.main__content .burger .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #b3adcc;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .main__content .burger {
    display: block;
    position: relative;
    z-index: 12;
  }
}

.first__section {
  padding-block: 100px;
}
.first__section .first__section-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.first__section .first__section-content .first__section-content-box {
  max-width: 400px;
}
.first__section .first__section-content .first__section-content-box h1 {
  padding-bottom: 30px;
}
.first__section .first__section-content .first__section-content-box p {
  padding-block: 30px;
}
.first__section .first__section-content .first__section-content-img-box {
  padding-top: 50px;
}
.first__section .first__section-content .first__section-content-img-box .cube {
  width: 200px;
  height: 200px;
  border: 1px solid #b3adcc;
}

.second__section {
  padding-bottom: 100px;
}
.second__section h2 {
  text-align: center;
}
.second__section h2 .second__section-content-box .second__section-content-inner {
  display: flex;
  flex-wrap: wrap;
}
.second__section h2 .second__section-content-box .second__section-content-inner .brands__item a {
  padding: 1rem;
}
.second__section h2 .second__section-content-box .second__section-content-inner .brands__item img {
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 2/1;
}

.test__sect {
  padding-bottom: 100px;
}
.test__sect .container h2 {
  padding-bottom: 20px;
}
.test__sect .container .content-section .test {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.test__sect .container .content-section .test .brands__item a {
  margin-bottom: 20px;
  background-color: #b3adcc;
}
.test__sect .container .content-section .test .brands__item a .brands__item img {
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 2/1;
}

.theerd__section {
  padding-bottom: 100px;
}
.theerd__section .container h2 {
  padding-bottom: 20px;
}
.theerd__section .container p {
  padding-bottom: 20px;
}
.theerd__section .container .theerd__section-content ul {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.theerd__section .container .theerd__section-content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theerd__section .container .theerd__section-content ul li a {
  background-color: #b3adcc;
  padding: 8px;
  border-radius: 10px 20px;
  margin-bottom: 10px;
}

.fours__section {
  padding-bottom: 100px;
}
.fours__section .fours__section-main-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.fours__section .fours__section-main-box .fours__section-main-box-text {
  margin-top: 20px;
  max-width: 500px;
}
.fours__section .fours__section-main-box .fours__section-main-box-text h2 {
  padding-bottom: 20px;
}
.fours__section .fours__section-main-box .fours__section-main-box-text p {
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */